@import 'tailwindcss';

:root {
  --background: #f9fafb;
  --foreground: #171717;

  --color-primary: #6c6d9d;
  --color-primary-hover: #5a5b85;

  --color-accent: #f3cd7e;
  --color-accent-hover: #e5ba64;
  --color-accent-text: #26282c;

  --color-text: #26282c;
  --color-muted-text: #6b7280;

  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-divider: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
